.card-checkbox {
    position: absolute;
    top: 10px; 
    left: 10px;
    z-index: 10; 
  }
  

  .custom-checkbox {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 20px; 
    height: 20px;
    background-color: transparent;
    border: 2px solid #d1d1d1;
    border-radius: 50%; 
    cursor: pointer; 
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  
  
  .custom-checkbox:checked {
    background: linear-gradient(45deg, #6CC1FF, #3A7BD5); 
    border-color: #3A7BD5;
  }

  .custom-checkbox:checked::after {
    content: '';
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: white;
  }

  .custom-checkbox:hover {
    border-color: #a0a0a0; 
  }
  
 
  .custom-checkbox:focus {
    outline: none; 
    box-shadow: 0 0 0 2px rgba(50, 150, 250, 0.75); 
  }
  .card-checkbox label {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
  }