@font-face {
    font-family: 'segoe script v2';
    src: url('/public/fonts/segoe-script-2-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Black Ops One';
    src: local('Black Ops One'),
      url('/public/fonts/BlackOpsOne-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }